<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>Insert title here</title>
</head>
<body>
<div class="container">

<h2>Student Details</h2><br>
<a th:href="@{/students/addPage}">Add Student</a><br>
<br>
	<table id="table-1" class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Operations</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="tempStudent:${studentList}">
				
				<td th:text="${tempStudent.firstName}"/>
				<td th:text="${tempStudent.lastName}"/>
				<td th:text="${tempStudent.email}"/>
				<td th:text= "delete" th:href="@{/delete}"/>
				<td th:text= "update" th:href="@{/update}"/>
			</tr>
		</tbody>
	</table>
	</div>
</body>
</html>