<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<p> Employee data list </p>

<table>

  <thead >
<tr>
    <th>Number</th>
    <th>Name</th>
    <th>Address</th>>
    </tr>
  </thead>
  
   <tbody>
       
       <tr th:each="tempEmployee : ${empList}"/>
       <td th:text="${tempEmployee.id}"></td>  
       <td th:text="${tempEmployee.name}"></td>
       <td th:text="${tempEmployee.address}"></td>                 
     </tr>
 </tbody>

</table>


</body>
</html>